.home{
    color: #fff;
    text-align: center;
    padding: 1rem;
    background-color: rgb(32, 32, 32);
    height: 100vh;
}
.events_container{
    color: #303030;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}
.event{
    background-color: #ffffffea;
    margin: 1rem;
    padding: 1rem;
    width: 30%;
    height: 40%;
    border-radius: 0.3rem;
}
.event button{
    margin: 0.3rem;
    padding: 0.3rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
}
.btn_inscrever{
    background-color: rgb(0, 151, 0);
}
.btn_comentarios{
    background-color: rgb(65, 105, 225);
}

@media (max-width: 1024px) {
  .home{
    height: 100%;
  }
} 
@media (max-width: 830px) {
    .events_container{
        flex-direction: column;
        align-items: center;
    }
    .event{
        width: 50%;
    }
}
@media (max-width: 630px) {
    .event{
        width: 65%;
    }
}
@media (max-width: 415px) {
    .event{
        width: 85%;
    }
}