
.login_container{
    color: #fff;
    height: 100vh;
    text-align: center;
    padding: 2.5rem;
}
.login_container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: black;
    width: 60%;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 7px;
}

.login_container form input{
    width: 50%;
    margin: 0.6rem;
    padding: 0.2rem;
}

.login_container form button{
    width: 25%;
    margin: 1rem;
    border: none;
    padding: 0.4rem;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgb(26, 58, 153);
    color: #fff;
}
@media (max-width: 400px){
    .login_container form input{
        width: 80%;
    }
    .login_container form button{
      width: 30%;
    }
} 