
.commentaryContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    height: 55vh;
    background-color: hsla(0, 0%, 100%, 0.363);
}

.commentaryContainer span {
    display: flex;
    justify-content: flex-end;
    color: black;
    margin: 0.8rem;
    font-weight: bolder;
    font-size: x-large;
    cursor: pointer;
}

.commentarysDiv{
    overflow-x: auto;
    background-color: rgb(245, 245, 245);
    margin: 0 auto;
    width: 500px;
    height: 250px;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    border-radius: 15px;

}

.secondContainer {
    padding: 1.8rem;
}

.userName{
    background-color:rgb(56, 56, 56);
    border-radius: 15px 15px 0px 0px;
    margin: 0 auto;
}
.text{
    background-color:rgb(206, 206, 206);
    color: rgb(83, 83, 83);
    border-radius: 0px 0px 15px 0px;

}
.commentarysDiv p {
    margin: 0;
}
.commentarysDiv div{
    margin: 1rem;
}

.addComment{
    margin: 1rem;
    background-color: rgb(233, 233, 233);
    color: rgb(83, 83, 83);
    padding: 0.5rem;
    border-radius: 15px;
}

.addComment p{
    color: black;
}

.addComment h2, label, input, button{
    margin-top: 0.8rem;
}

.addComment button, input{
    padding: 0.1rem;
    border: none;
}
.addComment button{
    width: 80px;
    cursor: pointer;
    background-color: rgb(0, 161, 0);
    color: #fff;
}
