
.navbar {
    background-color: rgb(65, 105, 225);
    padding: 0.5rem;
    width: 100%;
}
.container_link{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.link{
    padding: 0.5rem;
    border-radius: 1rem;
    width: 8%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.link:hover{
    background-color: #ffffffbe;
    color: #202020;
}
@media (max-width: 1230px) {
    .navbar{
        font-size: 0.9rem;
    }
} 
@media (max-width: 950px) {
    .container_link{
        justify-content: flex-start;
        gap: 3rem;
    }
} 
